.menu__toggle {
    display: block;
    z-index: 1;
    margin-top: 6px;
    -webkit-user-select: none;
    user-select: none;

    a {
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
    }

    input {
        position: absolute;
        top: 7px;
        right: 9px;
        display: block;
        width: 40px;
        height: 32px;
        cursor: pointer;
        opacity: 0;
        z-index: 4;
        -webkit-touch-callout: none;
    }

    span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: $white;
        border-radius: 3px;
        z-index: 3;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
            margin 0.55s;
    }
}

.menu__toggle span:first-child {
    transform-origin: 0% 0%;
}

.menu__toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

.menu__toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: $white;
    margin-right: -10px;
}

.menu__toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menu__toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

.menu__toggle input:checked ~ ul {
    transform: none;
}

.burgermenu__container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: calc(100% - 55px);
    margin: 0;
    padding: 0;
    left: 0;
    top: 55px;
    background: $primary;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(0%, -130%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    z-index: 2;

    li {
        padding: 0 2rem;
        font-size: 22px;
    }
}

.burgermenu__options {
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white;
    background-color: $primary;

    h3 {
        margin: 0.5rem;
    }

    a {
        color: $white;
    }
}

.burgermenu__bg {
    width: 210px;
    background-image: url("https://lm-challenges.s3.amazonaws.com/resources/img-menu-background.png");
    background-repeat: no-repeat;
}

.burgermenu__bg--gradient {
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(2, 0, 9, 0.5) 0,
        #0a0025 100.65%
    );
    height: 100%;
}
