@import "mixins.scss";
@import "variables.scss";
@import "burger-menu.scss";
@import "buttons.scss";
@import "header-footer.scss";
@import "quotes.scss";

@import url("https://fonts.googleapis.com/css?family=Mulish");

html,
body,
footer,
header,
hgroup,
menu,
nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
    color: $white;
    text-decoration: none;
}

html {
    font-family: $font;
}

main {
    background-color: $main-bg;
    padding: 1rem;
    min-height: 60vh;
}

.no-mobile {
    @include respond-to(mobile) {
        display: none !important;
    }
}

.mobile-only {
    @include respond-to(tablet) {
        display: none !important;
    }
    @include respond-to(desktop) {
        display: none !important;
    }
}
