// Colors
$primary: #0a0025;
$secondary: #52499d;
$main-bg: #e5e5e5;
$white: #ffffff;
$gray: #787387;

// Shadows
$box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.08);

// Border Radius
$border-radius: 4px;
$border-circle: 2rem;

// Font family
$font: "Mulish";
